@{
    ViewData["Title"] = "Home";
}

<h2 class="mb-4">Bem-vindo ao LaunchCalendar!</h2>
<p class="home-instructions">Utilize o menu lateral para acessar os cadastros de filmes, séries e episódios.</p>
